<section class="gov-section" aria-labelledby="before-title">
    <h2 class="gov-heading-l" id="before-title">Before you start</h2>

    <ul class="gov-list gov-list--bullet">
        <li class="gov-body">You must own the content on Steam to download its depots.</li>
        <li class="gov-body">You will need free disk space for the older build (often tens of GB depending on what you select).</li>
        <li class="gov-body">If you are replacing an existing install, back up anything you care about first.</li>
    </ul>

    <div class="gov-inset-text halo-panel">
        This tool does not modify your game. It only generates commands that tell Steam what to download.
    </div>
</section>
